.side-nav {
    display: grid;
    align-content: space-between;
    justify-content: center !important;
}

.topsidenav,
.botsidenav {
    background: lavenderblush;
}
.top-box {
    height: calc(100vw * 70 / 1440);
    padding: calc(100vw * 0 / 1440) calc(100vw * 20 / 1440);
    display: grid;
    align-content: center;
    border-bottom: 0.5px solid #73768b;
    /* background: pink; */
}

.gridflexgap20px {
    padding: calc(100vw * 20 / 1440) calc(100vw * 0 / 1440);
    display: grid;
    justify-content: center;
    gap: calc(100vw * 20 / 1440);
}
.icon-30px {
    height: calc(100vw * 30 / 1440);
    width: calc(100vw * 30 / 1440);
}
