.side-nav {
    display: grid;
    align-content: space-between;
    height: 100%;
    width: fit-content;
}

.topsidenav,
.botsidenav {
    background: lavenderblush;
}
.top-box {
    height: calc(100vw * 75 / 1200);
    padding: calc(100vw * 0 / 1200) calc(100vw * 25 / 1200);
    display: grid;
    align-content: center;
    border-bottom: 0.5px solid #73768b;
    /* background: pink; */
}
.gridflexgap20px {
    padding: calc(100vw * 25 / 1200) calc(100vw * 0 / 1200);
    display: grid;
    justify-content: center;
    gap: calc(100vw * 25 / 1200);
}
.icon-30px {
    height: calc(100vw * 35 / 1200);
    width: calc(100vw * 35 / 1200);
}
